{% extends 'base.html.twig' %}

{% block content %}
    <h2>Guess the mysterious word</h2>

    <p class="attempts">
        You still have {{ game.getRemainingAttempts }} remaining attempts.
    </p>

    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            {% set letter_found = game.isLetterFound(letter) %}
            <li class="letter{{ not letter_found ? ' hidden' }}">
                {{ letter_found ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('app_game_reset') }}">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for letter in 'A'.."Z" %}
            <li class="letter">
                <a href="{{ path('app_game_letter', {'letter': letter}) }}">
                    {{ letter }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    <form action="{{ path('app_game_word') }}" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}
